
@{
    ViewBag.Title = "Add";
}

<h2>Add Teacher</h2>


<form method="POST" action="/Teacher/Create">
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" name="TeacherFname" id="TeacherFname" />
    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" name="TeacherLname" id="TeacherLname" />
    </div>
    <div>
        <label for="TeacherEmployeeNumber">Employee Number:</label>
        <textarea name="TeacherEmployeeNumber" id="TeacherEmployeeNumber"></textarea>
    </div>
    <div>
        <input type="submit" value="Create Teacher" />
    </div>
</form>

