@model HTTP5101_Assignment4_n01454046.Models.Teacher

@{
    ViewBag.Title = "Show";
}




<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List"> Back To Teachers </a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId"> Delete </a>
    </nav>
    <h2 class="teacherName"> @Model.TeacherFname @Model.TeacherLname  </h2>
    <p class="listP">
        This page shows more detail about one teacher.
    </p>
    <p class="teacherMoreInfo">
        Teacher Id: @Model.TeacherId
    </p>
    <p class="teacherMoreInfo">
        Teacher Employee Number: @Model.TeacherEmployeeNumber
    </p>

</div>

