@model IEnumerable<HTTP5101_Assignment3_n01454046.Models.Student>

@{
    ViewBag.Title = "List";
}

<h2 class="header">Students</h2>

<p class="listP">
    This page shows a list of all of the Students on the School Database
</p>

<div id="containerlist">
    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col-md-12 teacher">
                <a href="/Student/Show/@student.StudentId" class="teacherInfo">@student.StudentFname @student.StudentLname</a>
            </div>
        </div>
    }
</div>

<a class="navlink" href="../Home/Index"> Back To Home </a>